
.round {
    position: absolute;
    width: 62px;
    height: 62px;
    margin: 0 auto 5px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87f1f1;
    border: 2px solid ;
}

.title {
    display: block;
    font: normal 1.2rem/1 Arial, sans-serif !important;
    color: #151414 !important;
    text-align: left;
}

.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
}
.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.page-num {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 64px;
	height: 64px;
	padding: 16px 0 0 0;
	border: 1px solid #1252e3;
	border-radius: 40px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: cornflowerblue;
	color: #000;
	font-size: 20px;
}

.form-error{
    list-style: none;
    padding: 0;
    color: #CC0000;
}
