{% extends 'game_info_part/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/slides/font_1.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slides/font_2.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/slides/font_3.jpeg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущая новость</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующая новость</span>
  </button>
</div>
    </div>
    <br>
    <br>


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Новые статьи за сегодня</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur purus purus, laoreet id massa quis, aliquam sollicitudin est. Phasellus iaculis, dui a euismod volutpat, ex sem suscipit risus, at posuere nulla ligula nec erat. In semper mi lacus, nec consectetur odio lacinia a. Maecenas consectetur tincidunt eros sed auctor. Integer vel dolor quis neque dignissim semper. Morbi at dui nisl. Sed tempor, purus eu facilisis consequat, nisl ante accumsan augue, eu porttitor dui elit non sem.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Lorem ipsum</a>
          <a href="#" class="btn btn-secondary my-2">Lorem calcium</a>
        </p>
      </div>
    </div>
  </section>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
{% for article in articles %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="/media/{{article.preview_picture}}" alt="Картинка-превью" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Превью-картинка" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><strong>{{ article.title }}</strong></text></img>
            <div class="card-body">
              <p class="card-text">{{ article.contains | truncatewords:50 }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр статьи</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Автор статьи: {{ article.author }}</button>
                </div>
                <small class="text-muted">Рейтинг статьи: {{ article.rating }}</small>
              </div>
            </div>
          </div>
        </div>
{% endfor articles %}
{% endblock content %}