{% extends 'game_info_part/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1000">
        <div class="carousel-caption d-none d-md-block">
        <h5>Метка первого слайда</h5>
        <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
      </div>
      <img src="{% static 'images/slides/font_1.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
        <div class="carousel-caption d-none d-md-block">
        <h5>Метка второго слайда</h5>
        <p>Некоторый репрезентативный заполнитель для второго слайда.</p>
      </div>
      <img src="{% static 'images/slides/font_2.jpeg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
        <div class="carousel-caption d-none d-md-block">
        <h5>Метка третьего слайда</h5>
        <p>Некоторый репрезентативный заполнитель для третьего слайда.</p>
      </div>
      <img src="{% static 'images/slides/font_3.jpeg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущая новость</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующая новость</span>
  </button>
</div>
    </div>
    <br>
    <br>


  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Новые статьи за сегодня</h1>
        <p class="lead text-muted">{% lorem 2 p %}</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Lorem ipsum</a>
          <a href="#" class="btn btn-secondary my-2">Lorem calcium</a>
        </p>
      </div>
    </div>
  </section>

{% include 'game_info_part/includes/show_games.html' %}
	<div class="content-text">
{% if articles.has_other_pages %}
<nav class="list-pages">
    <ul>
{% if articles.has_previous %}
<li class="page-num">
	<a href="?page={{ articles.previous_page_number }}">&lt</a>
</li>
{% endif %}
        {% for p in paginator.page_range %}
		{% if articles.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
		{% endif %}
        {% endfor %}
{% if articles.has_next %}
<li class="page-num">
	<a href="?page={{ articles.next_page_number }}">&gt;</a>
</li>
{% endif %}
    </ul>
</nav>
{% endif %}
	</div>
{% endblock content %}
