{% extends 'game_info_part/base.html' %}
{% block content %}
<h1>{{ title }}</h1>

<form method="post">
    {% csrf_token %}
    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Войти</button>
</form>
<p><a href="https://oauth.vk.com/authorize?client_id=51393289&redirect_uri=http://127.0.0.1:8000/gamemage/callback&scope=12&display=popup">Авторизация через VK</a></p>
{% endblock %}

