{% extends 'game_info_part/base.html' %}
{% block content %}
{% load static %}
    <h5 class="display-6">{{ data.title }}</h5>
    <br>
    <h3><strong>{{ data.name_game | title }}</strong></h3>
    <br>
    <p></p>{{ data.contains | linebreaks | ljust:"20" }}
    <br>
<figure class="figure">
  <img src="{% get_media_prefix %}{{ data.preview_picture }}" class="figure-img img-fluid rounded" alt="Превью картинка" width="500" height="400">
  <figcaption class="figure-caption"></figcaption>
</figure>
    <span class="title">Оценка<br>статьи</span><br>
    <div href="{% url 'change_rating' article_slug=data.slug %}" class="round">{{ data.rating }}</div>
    <br>
    <br><br>
    {% if request.user.is_authenticated %}
    <form action="{% url 'change_rating' article_slug=data.slug%}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Подтвердить">
</form>
    {% endif %}
    <p class="text-dark">{{ data.date_published }}</p>
    <br>
{% endblock content %}